.searchBerUI {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBerInput {
  width: 32%;
  padding: 10px;
  border-radius: 60px;
  border: none;
  background-color: #f0f0f0;
  font-size: 16px;
}

.searchBerInput::placeholder {
  color: #000;
  padding-left: 30px;
}

.searchIcon {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  line-height: 1;
  width: 0.5em;
  height: 0.5em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  box-sizing: content-box;
  position: relative;
}

.searchIcon::before {
  content: "";
  position: absolute;
  top: 88%;
  left: 88%;
  width: 0.5em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0 0.1em 0.1em 0;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: left center;
}
